# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
src/main.js

# Exclude sourcemaps
*.map

# obsidian
data.json
data.backup.json
data.restored-*.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store
/main.js
/styles.css
obsidian-daily-statistics-test
obsidian-daily-statistics-test/*
obsidian-daily-statistics-ai-ready-full-folder-*.zip
